/mob.exs
/.mob/
/ios/build/
/ios/DerivedData/
/ios/.zig-cache/
/ios/zig-out/
/ios/*.entitlements
/ios/release_device.sh
/_build/mob_release/
/priv/generated/driver_tab_android.c
/priv/generated/driver_tab_android.zig
/*.xcodeproj/xcuserdata/
/*.xcworkspace/xcuserdata/
